doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title IIN-BIN
body
    div(id='root')
        p For information look console(F12)!!!   
        input(type='input',id='iin')
        input(type='button', value='get value!', id='value' )
        input(type='button', value='get type!', id='get-type' )
        input(type='button', value='get full info!', id='results' )
        
        pre(id='result')
        

    
    